.Books {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

  .book-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    max-width: 10rem;
    margin: 1rem 2rem;
    text-align: center;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  .book-cover {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: var(--standard-box-shadow);
  }

  .book-title {
    font-style: italic;
    margin-bottom: 0;
  }
}
