.NotificationBanner {
  margin: 1rem 0;
  border-left: 4px solid var(--main-accent-color);
  padding: 1rem;
  background-color: var(--main-accent-shadow);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &.cool {
    border-color: var(--cool-light-color);
    background-color: var(--cool-dark-color);
    p, span, a {
      color: var(--main-light-color);
    }
    a {
      text-decoration: underline;
    }
  }

  svg {
    margin-right: 0.75rem;
    stroke: var(--main-light-color);
  }

  .banner-title {
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  @media (max-width: 600px) {
    svg {
      display: none;
    }
  }
}

.light-theme .NotificationBanner svg {
  stroke: var(--main-dark-color);

}
