.Builds {
  .build {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 var(--shadow);
    margin-bottom: 2rem;
    transition: 0.3s;
    border: 1px solid var(--main-dark-color);


    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 600px) {
      padding: 1rem;
    }
  }

  .app-overview {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;

    p {
      margin: 0.5rem 0;
    }
  }

  .app-teaser {
    font-size: 0.875rem;
  }

  .app-overview-underline {
    width: 2.5rem;
    height: 2px;
    margin-top: 0.5rem;
  }

  .app-logo {
    border-radius: 4px;
    height: 5rem;
    width: 5rem;

    @media (max-width: 600px) {
      height: 4rem;
      width: 4rem;
    }
  }

  .app-title {
    margin: 0.5rem 0 0 0;
  }

  .app-details {
    p {
      margin: 0.5rem 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.dark-theme {
  .build {
    border: 1px solid var(--main-light-color);
  }
}
