.Code-Block {
  border-radius: 4px;
  width: 100%;
  font-family: monospace;
  font-size: 14px;

  .bash, .css, .javascript {
    div span code {
      font-family: monospace;
      font-size: 14px !important; // necessary to override inline-styles and maintain consistency
    }
  }

  button {
    border-color: var(--main-light-color);
  }
}

.code-span {
  font-family: monospace;
  font-size: 0.875rem;
  background-color: black;
  padding: 0 0.3rem;
  border-radius: 4px;
  color: var(--main-light-color);
}
