.Text-And-Image-Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .text-block {
    flex: 1 1 50%;
  }

  .image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0 1rem 2rem;
    flex: 1 1 20rem;

    img {
      max-width: 20rem;
      border-radius: 4px;
      box-shadow: 0px 4px 8px var(--shadow);
    }

    .caption-container {
      max-width: 20rem;
    }

    span {
      margin-top: 0.5rem;
      font-style: italic;
      font-size: 0.875rem;
      display: block;
    }
  }

}

.Text-And-Image-Container.image-on-left {
  flex-direction: row-reverse;

  .image-block {
    margin: 1rem 2rem 1rem 0;
  }
}