@import './experiences/shared/components/Header/Header.scss';
@import './experiences/shared/components/Footer/Footer.scss';
@import './experiences/shared/pages/Landing/GeneralLanding.scss';
@import './experiences/author/pages/Landing/AuthorLanding.scss';

:root {
  --main-dark-color: #242424;
  --main-light-color: #ffffff;
  --main-accent-color: #df633b;
  --shadow: #00000033;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.light-theme {
  color: var(--main-dark-color);
  background-color: var(--main-light-color);
  border-color: var(--main-dark-color);
  padding: 1rem 2rem;
  margin: 0 auto;
  transition: 0.5s;
}

.dark-theme {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
  border-color: var(--main-light-color);
  padding: 1rem 2rem;
  margin: 0 auto;
  transition: 0.5s;
}

#root {
  max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: var(--main-accent-color);
  letter-spacing: 0.1rem;
}