@import './imported-styles.css';

:root {
  --main-dark-color: #242424;
  --main-light-color: #ffffff;
  --main-accent-color: #df633b;
  --shadow: #00000033;
  --main-accent-shadow: #df643b78;
  --main-accent-extended: #f36738cc;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

/* BASE STYLES */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: var(--main-accent-color);
  letter-spacing: 0.1rem;
  text-decoration: none;
}

button {
  background-color: transparent;
  color: var(--main-accent-color);
  box-shadow: 0px 4px 8px var(--shadow);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 1px solid var(--main-accent-color);
  letter-spacing: 0.1rem;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.grow-on-hover {
  &:hover {
    transform: scale(1.01);
  }
}

.app-overview-underline, .content-post-underline {
  background-color: var(--main-dark-color);
}

.Header a, .Contact a {
  color: var(--main-dark-color);
}

.external-link-svg {
  stroke: var(--main-dark-color);
}

#robot-svg {
  fill: var(--main-dark-color);
}

.accent-color {
  color: var(--main-accent-color);
}

/* ABOUT-RELATED STYLES */
.about-img {
  border-radius: 50%;
  width: 20rem;
  transition: 0.3s;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-description {
  flex: 1;
  margin-left: 1.5rem;
  max-width: calc(100% - 20rem);
  min-width: 20rem;
}

.about-row .about-description:last-child {
  max-width: none;
}

@media (max-width: 600px) {
  .about-img {
    width: 15rem;
  }
}

/* POP CONTENT STYLES */
.pop-content h2 {
  color: var(--main-light-color)
}

.pop-text-container {
  width: 15rem;
  margin-left: 1.5rem;
  margin-top: 1rem;

  h2 {
    margin: 0;
  }
}

.pop-content {
  animation: fade 2s ease-in-out infinite;
} 

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* COMMON BACKGROUND SHADOW STYLES */
.shadow-bg-main-accent, .shadow-bg-gray {
  margin: 0 -2rem 2rem -2rem;
  padding: 1rem 2rem;
}

/* SPECIFIC BACKGROUND STYLES */
.shadow-bg-main-accent {
  background-color: var(--main-accent-shadow);
}

.shadow-bg-gray {
  background-color: var(--shadow);
}

/* SECTION WRAPPER STYLES */
.section-wrapper {
  padding-bottom: 2rem;
}

/* COMMON STYLES ACROSS THEMES */
.light-theme, .dark-theme {
  padding: 1rem 2rem;
  margin: 0 auto;
  transition: 0.5s;

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

/* LIGHT THEME-SPECIFIC STYLES */
.light-theme {
  color: var(--main-dark-color);
  background-color: var(--main-light-color);
  border-color: var(--main-dark-color);
}

/* DARK THEME-SPECIFIC STYLES */
.dark-theme {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
  border-color: var(--main-light-color);

  .app-overview-underline, .content-post-underline {
    background-color: var(--main-light-color);
  }

  .Header a, .Contact a {
    color: var(--main-light-color);
  }

  .external-link-svg {
    stroke: var(--main-light-color);
  }

  #robot-svg {
    fill: var(--main-light-color);
  }
}
