.General-landing {
  // TOP OF LANDING PAGE, "HOME OF..."
  .photo-banner {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  // CONTAINER FOR BOTTOM OF LANDING PAGE SECTIONS (ABOUT THE AUTHOR/ENGINEER, TO THE BLOG)
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    transition: var(--fast-transition);
  }
  
  // RESPONSIVE STYLES
  @media (max-width: 600px) {
    .photo-banner {
      .pop-text-container {
        margin-top: 1.5rem;
      }
    }
  }
  
}

// MODAL STYLES
.modal-content {
  text-align: center;
  padding: 1rem;
  margin: -1rem;
  background-color: var(--main-dark-color);
  height: 100%;
  border-radius: 4px;
  color: var(--main-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2, h3 {
    margin-top: 1rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  img {
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
