.Contact {
  h4 {
    letter-spacing: 0.2rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    font-size: 0.875rem;
  }
  a {
    letter-spacing: normal;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    transition: 0.3s;

    svg {
      margin: 0.15rem 0 0 0.05rem;
      height: 12px;
      transition: 0.3s;
    }
  }
}
